@font-face {
  font-family: "iconfont"; /* Project id 3551277 */
  src: 
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABugAAAKVAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACCfgqBSIE4ATYCJAMMCwgABCAFhGcHNxsNBhHVk4VkH4npFqO7xZdypGImAmpN3Pu7T1IkVAQKAB0QZnzLQjF5QFXWdbQ455SMUCM5e/Kozn1SwKU5CS/u83/vuAWURfOCSGVrTdr4wL4H9AEbY9sW70QQcQrqNeMFKCOuEVBRd0Nlo8eOm6bqynkbV2sosamBrDSsXLZknpLulySkSoICOzUJx+VkB7JXOBZ9PvzSM5TI5JG9yqTFYxa693XM13Xc/n878YOAIsBuGXJEdEYizOiOTxKFJm5U0Z60Rvsk8HXs//98HRMYhV3zMsJf5xZXBu2RyPg6xpO7NRlmyEAEhWKyN0ZLnNonBqF+401nz9deOOPswcvb68w7U6fOmUP16p2rt+Tcjg1S/OrB2gsX1/MXLTy9/cobliw6c+jajrr9ds4oHz9w9fH3L+WGLRuV/anRYuTkylNG9qhx79P+RjpvrVDc37Blw3KpWIg9jVo0KoeWUrEMScVaqliuDxwwl/0zcVc2B+KI7I6AwIonp4lzqg3+XaqUwOfJB5ZH2oRzUjqlPfAPFTNJYjICxNQk9SoERI2JaIaKToj/bHdNn8Yra9HlBCW1RjiLGmWISloyEqcjcpX0REHJEFTUyZjZldSyVhRSBbS1SyCo7goyVV1HVN1TRuK8Rq6ubyiojvyjohmhynKVtA1qwXgXfMLjB1blRK5KIrpb1K9w57rIEblahGBo+3Jqgwl5ihH1rUcRAuIcYa3uhiFkKJwdKmmNSJm6jppu0qocmwWG7gR6Ag8/wFKyhAKyFL9vC2kvwR2TjGOcVRb0waDVE4yNPFFNd7JK9aaNhCCAsEhGYK13QkGQgdLcyUGKaJkR0WLSOSRi5e36yvhxW6Aie0gMWYghyRcYVD7ICbli0wAAAAA=') format('woff2'),
       url('iconfont.woff?t=1663817962513') format('woff'),
       url('iconfont.ttf?t=1663817962513') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e645";
}

.icon-close:before {
  content: "\e646";
}

