page {
  position: relative;
  color: var(--root-color-text);
  font-size: var(--root-font-size-main);
  font-family: var(--root-font-family);
  background-color: rgb(250, 251, 252);
}

view,
text {
  box-sizing: border-box;
}

image {
  width: 100%;
  height: 100%;
  display: block;
}
